* {
	margin:0;
	padding:0;
	border:0px;
}
body {
	/*background-color:rgb(10,10,10);*/
	background:url(/images/6.jpg);
}
a:link,a:visited {
	color:gray;
	text-decoration:none;
}
a:hover {
	color:orange;
}
#container {
	position:absolute;
	left:20%;
	margin:0px 0px;
	width:80%;
}
#header {
	width:100%;
	border-bottom:1px solid gray;
	font-family:"微软雅黑","宋体","黑体","Serif";
	overflow: hidden;
}
#header img{
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	height: 20px;
}
#header img:hover{
background-color:rgb(100,100,100);
}
#afterlogin {
	height:100%;
	overflow: hidden;
	float:right;
}
#userid {
	display: block;
	float:right;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 50px;
	color:rgb(200,200,200);
}
#userid:hover {
	background-color:rgb(100,100,100);
}
#navframe{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	background:url(/images/6.jpg);
	width:20%;
}
#showbox {
	margin-left: 10px;
	width:97%;
}
#showboxtitle {
	margin-bottom: 5px;
	background-color: rgba(10,10,10,0.8);
	width:100%;
	color:rgb(200,200,200);
	font-size:1em;
	font-weight: bold;
	text-align: left;
	font-family: "Serif","黑体";
}
#showboxtitle a{
	cursor: pointer;
}
.floatdiv{
	position:fixed;
	top:0px;
	border-bottom: 1px solid gray;
	padding-top:15px;
	padding-bottom:10px;
}
#showframe {
	width:100%;
	min-height:697px;/*好像最长16776921px;*/
	background-color: rgba(40,40,40,0.5);
}
.footer {
	font:14px/15px "黑体";
	border-top: 1px solid gray;
	text-align: center;
	margin-top: 5px;
	background-color: rgb(80,80,80);
	color:gray;
	
}
.footer * {
	padding:0;
	margin:0;
}
.footer a {
	color:gray;
}

    *::-webkit-scrollbar {
        width:5px;
        height:10px;
    }
   *::-webkit-scrollbar-button    {
    	 width:1px;
        height:0px;
        background-color:black;
    }
    *::-webkit-scrollbar-track     {
        background:rgb(160,160,160);
    }

    *::-webkit-scrollbar-thumb{
        background:rgb(50,50,50);
        border-radius:2px;
    } 

